.homeContainer {
    /* background-image:linear-gradient(rgba(17, 5, 5, 0.8), rgba(1, 1, 23, 0.6)), url("https://wallpaperaccess.com/full/1326636.jpg"); */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 85px;

}

.backGround {
    
    margin: 0px;
    padding: 0px;
}